
%header
  / start top
  #topnav.navbar.navbar-fixed-top.default
    .navbar-inner
      .container
        .logo
          %a.nav.brand{:href => "index.html", style: ""}
            = image_tag("logo-image.png", style: "padding-top: 7px;")
            %span{style:"margin-top:-5px;"} Mandelbrot Group
        .navigation
          %nav
            %ul.nav.pull-right
              %li.current
                %a{:href => "#intro"} Home
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#services"} Services
              %li
                %a{:href => "#works", :style => "display:none;"} Works
              %li
                %a{:href => "#contact"} Contact
        / /.nav-collapse
  / end top
/ section intro
%section#intro
  .slogan
    .icon
    %h1
      "There is a joke that your hammer will always find nails to hit.  
      %br
      I find that perfectly acceptable."

    %h2{style: "  color: #3498db;"} &mdash; Benoit Mandelbrot
/ end intro
/ Section about
%section#about.section
  .container
    .row
      .span12
        .heading
          %h3
            %span About us
        .sub-heading
          %p
            We solve startup data problems. 
    .row{style:"display:none;"}
      .span3
        %img.img-polaroid{:alt => "", :src => "/images/dummies/team1.jpg"}/
        .roles
          %h5
            %strong Baby Stewards Jr
          %p
            CEO - Founder
          %ul.social-profile
            %li
              %a{:href => "#"}
                %i.icon-facebook.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-twitter.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-linkedin.icon-32.icon-circled
      .span3
        %img.img-polaroid{:alt => "", :src => "/images/dummies/team2.jpg"}/
        .roles
          %h5
            %strong Tommy Kreunichev
          %p
            Lead designer
          %ul.social-profile
            %li
              %a{:href => "#"}
                %i.icon-facebook.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-twitter.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-linkedin.icon-32.icon-circled
      .span3
        %img.img-polaroid{:alt => "", :src => "/images/dummies/team3.jpg"}/
        .roles
          %h5
            %strong Moriella Maccini
          %p
            Customer support
          %ul.social-profile
            %li
              %a{:href => "#"}
                %i.icon-facebook.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-twitter.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-linkedin.icon-32.icon-circled
      .span3
        %img.img-polaroid{:alt => "", :src => "/images/dummies/team4.jpg"}/
        .roles
          %h5
            %strong Brian James Scoothie
          %p
            Coffee maker
          %ul.social-profile
            %li
              %a{:href => "#"}
                %i.icon-facebook.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-twitter.icon-32.icon-circled
            %li
              %a{:href => "#"}
                %i.icon-linkedin.icon-32.icon-circled
/ end section about
/ section services
%section#services.section.parallax.dark
  .container
    .row
      .span12
        .heading
          %h3
            %span Our services
        .sub-heading
          %p
            Broad Data. 
    .row
      .span3
        .box.aligncenter
          .halftop
            %h4
              %strong Workflow Automation
            %i.icon-desktop.icon-4x
          %p
            Stop making the intern do busy work. 
          %a.btn.btn-theme{:href => "mailto:contact@mandelbrotgroup.com"} get in touch
      .span3
        .box.aligncenter
          .halftop
            %h4
              %strong Data Collection
            %i.icon-briefcase.icon-4x
          %p
            Tell us what you want and what format. We do the rest. 
          %a.btn.btn-theme{:href => "mailto:contact@mandelbrotgroup.com"} get in touch
      .span3
        .box.aligncenter
          .halftop
            %h4
              %strong 
                iPhone Apps
            %i.icon-mobile-phone.icon-4x
          %p
            It's time to face it, smartphones aren't a fad. You need an app.
          %a.btn.btn-theme{:href => "mailto:contact@mandelbrotgroup.com"} get in touch
      .span3
        .box.aligncenter
          .halftop
            %h4
              %strong Document data extraction
            %i.icon-beaker.icon-4x
          %p
            Stop copying data from print or pdf documents by hand.
          %a.btn.btn-theme{:href => "mailto:contact@mandelbrotgroup.com"} get in touch
/ end section services
/ section works
%section#works.section.gray-bg{style: "display:none;"}
  .container
    .row
      .span12
        .heading
          %h3
            %span Recent works
        .sub-heading
          %p
            We have a history of doing what our name implies, creating a visual language around the beliefs of the brands we work with.
    .row
      .span12
        %ul.filter
          %li.all.active
            %a.btn.btn-theme{:href => "#"} All categories
          %li.web
            %a.btn.btn-theme{:href => "#"} Web design
          %li.brand
            %a.btn.btn-theme{:href => "#"} Brand identity
          %li.graphic
            %a.btn.btn-theme{:href => "#"} Graphic design
        .clear
        .row
          %ul.portfolio-area.da-thumbs
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "web"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img1.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "web"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img2.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "brand"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img3.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "photo"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img4.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "graphic"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img5.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "graphic"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img6.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "photo"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img7.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
            %li.portfolio-item{"data-id" => "id-0", "data-type" => "ilustrator"}
              .span3
                .thumbnail
                  .image-wrapp
                    %img{:alt => "Portfolio name", :src => "/images/portfolio/img8.jpg", :title => ""}/
                    %article.da-animate.da-slideFromRight{:style => "display: block;"}
                      %h5
                        %strong Portfolio name
                      %a{:href => "#"}
                        %i.icon-rounded.icon-48.icon-link
                      %span
                        %a.zoom{"data-pretty" => "prettyPhoto", :href => "/images/portfolio/big1.jpg"}
                          %i.icon-rounded.icon-48.icon-zoom-in
/ section works
/ section contact
%section#contact.section
  .container
    .row
      .span12
        .heading
          %h3
            %span Get in touch
  .container
    .row
      %form#contactform.contact-form{:action => "#", :method => "post", :name => "contact-form"}
        .span4
          %p
            %ul.contact-list
              %li
                %label
                  Name
                  %span *
                %input#name.form_input{:name => "name", :placeholder => "Your name", :type => "text"}/
              %li{style: "margin-top: -8px;"}
                %label
                  Email
                  %span *
                %input#email.form_input{:name => "email", :placeholder => "Your email", :type => "text"}/

        .span4 
          %p   
            %ul.contact-list
              %li
                %label
                  Your message
                  %span *
                %textarea#message.form_textarea{:name => "message", :placeholder => "Your message", :rows => "6"}
              %li.last
                %button#send.pull-right.btn.btn-large.btn-theme{:type => "submit"} Send a message
          / end contact form
      .span4
        %p
          %strong Mandelbrot Group, Inc.
        %p
          %span
            %i.icon-phone
            %strong Phone:
            1-888-577-5825
            <a id='__hrefClickToCall' onclick="window.open('http://c2cwidget.evoice.com/C2CWidget/ClickToConnectSession.aspx?key=d33736c3-3156-4815-8191-88b30fb083e8&evoice=1','',', resizable=no,scroll=yes,status=no,titlebar=no,toolbar=no,addressbar=no,copyhistory=no,navigationtoolbar=no')" >Click to call</a>
        
        %p
          %span
            %i.icon-envelope-alt
            %strong Email:
            contact@mandelbrotgroup.com
%footer
  .verybottom
    .container
      .row
        .span12
          .aligncenter
            .logo
              %a.brand{:href => "index.html"}
            %p
              \&copy; 2013 Mandelbrot Group. All rights reserved
%a.scrollup{:href => "#"}
  %i.icon-chevron-up.icon-square.icon-48.active
/ javascript
%script{:src => "/javascripts/all.js"}
